/* this is the for the scrollbar update do not touch except you concentrate */

::-webkit-scrollbar {
    /* first upadate */
    width: 12px;
    /* set scrollbar width */
    height: 12px;
    /* height of the scrollbar */
    background-color: white;
    /* this is the bg of the scrollbar */
}

::-webkit-scrollbar-thumb {
    /* the border raduis of the scrollbar */
    background-color: white;
    /* the scrollbar thumb color */
    border-radius: 10px;
    /* this is the scrolbar border raduis */
}


/* this is for incase it is access by firefox */

* {
    scrollbar-width: thin;
    /* set scrollbar width */
    scrollbar-color: white #1f1702;
    /* this is the bg of the scrollbar */
}

body {
    scrollbar-color: white #1f1702;
    /* this is for the scrollbar thumb color */
    scrollbar-width: thin;
    /* Scrollbar width */
}


/* optional: Override scrollbar styling for both browsers */


/* Chrome and Safari */

@media (chrome) and (version >=62) {
     ::-webkit-addressbar {
        background-color: #1f1702;
        /* Red color */
    }
}


/* Firefox */

@media (firefox) and (version >=60) {
     ::-moz-addressbar {
        background-color: #1f1702;
        /* Red color */
    }
}


/* Safari 10+ */

@media (safari) and (version >=10) {
     ::-webkit-addressbar {
        background-color: #1f1702;
        /* Red color */
    }
}

.header-two {
    background: url("./Pictures/sample_two.gif") no-repeat center center;
    background-size: cover;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
}

.play-that {
    /* this is for the test subject */
    margin: 20px;
}

.test-two {
    /* this is for the main text */
    font-size: 120px;
    font-style: italic;
    font-weight: bold;
    margin-top: 30px;
    color: rgb(228, 213, 213);
    margin-left: 100px;
}

.test-test {
    /* the subtopic */
    font-size: 120px;
    font-style: italic;
    font-weight: bold;
    margin-top: -150px;
    color: rgb(228, 213, 213);
    margin-left: 100px;
}

.test-five {
    /* this is for the test */
    font-size: 23px;
    font-family: Arial, sans-serif;
    margin-top: -120px;
    margin-left: 100px;
    color: rgb(133, 132, 132);
    font-weight: bold;
}

.test-five-test {
    /* this is the second text */
    font-size: 23px;
    margin-left: 100px;
    margin-top: -10px;
    font-family: Arial, sans-serif;
    color: rgb(133, 132, 132);
    font-weight: bold;
}

.header-container {
    background-color: #00000000;
    width: 100%;
    padding-bottom: 50px;
    top: 0;
    left: 0;
    position: fixed;
}

.back-arrow {
    right: 0;
    position: absolute;
}

.main-container {
    padding-bottom: 1000px;
    background-color: black;
    margin: 0;
    left: 0;
    top: 1000px;
    width: 100%;
    position: absolute;
}

.place-one {
    /* this is the first placement */
    margin-top: 150px;
    color: white;
    font-weight: bolder;
    font-size: 50px;
    margin-left: 50px;
}

.place-two {
    /* this is another test */
    font-weight: bolder;
    font-size: 30px;
    color: white;
    font-size: 50px;
    margin-left: 50px;
    margin-top: -50px;
}

.plat-one {
    /* this is for the sub heading */
    font-size: 39px;
    color: white;
    margin-left: 50px;
    margin-top: -45px;
}

.plat-three {
    /* this is sub topic settings */
    font-size: 39px;
    color: white;
    margin-left: 50px;
    margin-top: -35px;
}

.plat-two {
    /* this is for the botton adjustment of the code */
    width: 570px;
    height: 120px;
    margin-left: 45px;
    margin-top: -20px;
    font-size: 35px;
    color: black;
    border-width: 5px;
    border-radius: 20px;
    background: url("./Pictures/play-text.jpg")
}

.plat-two::placeholder {
    text-align: center;
    color: black;
    font-size: 32px;
}

.test-infix {
    /* this is for the constant image */
    position: fixed;
    right: 0;
    /* Aligns to the bottom */
}

.type-one {
    margin-left: 30px;
    zoom: 1.7;
    margin-top: 40px;
    border-radius: 20px;
}

.try-three {}

.try-three nav {}

.try-three li {
    list-style: none;
    display: inline-block
}

.try-two {
    width: 200px;
    height: 120px;
    background-color: white;
    font-size: 30px;
    color: black;
    border-radius: 20px;
}

.try-one {
    width: 200px;
    height: 120px;
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 20px;
}

.try-four {
    zoom: 0.6;
    margin-bottom: -35px;
}

.try-five {
    zoom: 0.8;
    margin-bottom: -25px;
}

.test-seven {
    /* this is for the constant image */
    position: fixed;
    right: 0;
    bottom: 0;
    zoom: 1.6;
    margin-right: 40px;
    margin-bottom: 20px;
    /* Aligns to the bottom */
}
