/* this is for the test header */

.header-two {
    background: url("./Pictures/sample_two.gif") no-repeat center center;
    background-size: cover;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
}

.header-container {
    background-color: #00000000;
    width: 100%;
    padding-bottom: 50px;
    top: 0;
    left: 0;
    position: fixed;
}

.back-arrow {
    right: 0;
    position: absolute;
}

.main-container {
    padding-bottom: 100000px;
    background-color: white;
    left: 0;
    top: 950px;
    width: 100%;
    position: absolute;
}

.test-infix {
    position: absolute;
    right: 0;
}

.test-seven {
    /* this is for the constant image */
    position: fixed;
    right: 0;
    bottom: 0;
    zoom: 1.6;
    margin-right: 40px;
    margin-bottom: 20px;
    /* Aligns to the bottom */
}
