/* this is for the test header */

.header-two {
    background: url("./Pictures/sample_two.gif") no-repeat center center;
    background-size: cover;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
}

.play-that {
    /* this is for the test subject */
    margin: 20px;
}

.test-two {
    /* this is for the main text */
    font-size: 120px;
    font-style: italic;
    font-weight: bold;
    margin-top: 30px;
    color: rgb(228, 213, 213);
    margin-left: 160px;
}

.test-test {
    /* the subtopic */
    font-size: 120px;
    font-style: italic;
    font-weight: bold;
    margin-top: -150px;
    color: rgb(228, 213, 213);
    margin-left: 160px;
}

.test-five {
    /* this is for the test */
    font-size: 23px;
    font-family: Arial, sans-serif;
    margin-top: -120px;
    margin-left: 160px;
    color: rgb(133, 132, 132);
    font-weight: bold;
}

.test-five-test {
    /* this is the second text */
    font-size: 23px;
    margin-left: 160px;
    margin-top: -10px;
    font-family: Arial, sans-serif;
    color: rgb(133, 132, 132);
    font-weight: bold;
}

.header-container {
    background-color: #00000000;
    width: 100%;
    padding-bottom: 50px;
    top: 0;
    left: 0;
    position: fixed;
}

.back-arrow {
    right: 0;
    position: absolute;
}

.main-container {
    padding-bottom: 100000px;
    background-color: white;
    left: 0;
    top: 1000px;
    width: 100%;
    position: absolute;
}

.test-infix {
    position: absolute;
    right: 0;
}

.test-seven {
    /* this is for the constant image */
    position: fixed;
    right: 0;
    bottom: 0;
    zoom: 1.6;
    margin-right: 40px;
    margin-bottom: 20px;
    /* Aligns to the bottom */
}
