/* this is the for the scrollbar update do not touch except you concentrate */

::-webkit-scrollbar {
    /* first upadate */
    width: 12px;
    /* set scrollbar width */
    height: 12px;
    /* height of the scrollbar */
    background-color: green;
    /* this is the bg of the scrollbar */
}

::-webkit-scrollbar-thumb {
    /* the border raduis of the scrollbar */
    background-color: green;
    /* the scrollbar thumb color */
    border-radius: 10px;
    /* this is the scrolbar border raduis */
}


/* this is for incase it is access by firefox */

* {
    scrollbar-width: thin;
    /* set scrollbar width */
    scrollbar-color: green black;
    /* this is the bg of the scrollbar */
}

body {
    scrollbar-color: green black;
    /* this is for the scrollbar thumb color */
    scrollbar-width: thin;
    /* Scrollbar width */
}


/* optional: Override scrollbar styling for both browsers */

.test-one {
    /* For the header page to be recognized */
    background: url("test_blast.gif") no-repeat center center;
    background-size: cover;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 950px;
}

.test-two {
    /* this is for the main text */
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    margin-top: 100px;
    color: rgb(228, 213, 213);
    margin-left: 270px;
}

.test-test {
    /* the subtopic */
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    margin-top: -100px;
    color: rgb(228, 213, 213);
    margin-left: 270px;
}

.test-three {
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    margin-top: 120px;
    text-align: center;
}

.test-five {
    /* this is for the test */
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin-top: -80px;
    margin-left: 270px;
    color: rgb(133, 132, 132);
    font-weight: bold;
}

.test-five-test {
    /* this is the second text */
    font-size: 18px;
    margin-left: 270px;
    margin-top: -10px;
    font-family: Arial, sans-serif;
    color: rgb(133, 132, 132);
    font-weight: bold;
}

.test-four {
    text-align: end;
    text-decoration: none;
    margin-top: -150px;
}

.test-four nav ul {
    /* this is for the test two subject */
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: inline-block;
}

.test-four li {
    font-size: 17px;
    color: black;
    padding: 30px;
    display: inline;
}

.test-four li a {
    color: rgb(228, 213, 213);
    text-decoration: none;
}

.test-four li a:hover {
    font-style: italic;
    font-size: 25px;
    color: red;
    text-decoration: underline;
    background-color: black;
    transition: background-color 3.0s;
}

.play-test-sample {
    /* this is for the test play */
    margin-left: 500px;
    text-align: center;
    margin-top: 70px;
}

.play-test-sample a {
    /* this is the hover */
    text-decoration: none;
    color: rgb(228, 213, 213);
    font-size: 25px;
}

.play-test-sample a:hover {
    /* this is for the hover */
    font-size: 34px;
    text-decoration: none;
    color: rgb(228, 213, 213);
}

.tell-one {
    /* this is for the tell sign */
    color: rgb(228, 213, 213);
    font-size: 40px;
    margin-top: -40px;
    margin-left: 500px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
}

.play-that {
    /* this is for the test subject */
    margin: 20px;
}

.play-with {
    /* this is the test two */
    zoom: 0.3;
    position: absolute;
    /* Use absolute positioning */
    right: 0;
    /* Aligns the image to the right */
    margin-right: 70px;
    bottom: 0;
    margin-bottom: 10px;
    /* Aligns the image to the bottom */
}

.test-seven {
    /* this is for the constant image */
    position: fixed;
    right: 0;
    bottom: 0;
    zoom: 0.6;
    margin-right: 40px;
    margin-bottom: 20px;
    /* Aligns to the bottom */
}

.test-eight {
    /* this is for the frame */
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.main-container {
    left: 0;
    margin: 0;
    top: 750px;
    width: 100%;
    padding-bottom: 1000px;
    position: absolute;
    background-color: white;
}

.place-one {
    /* this is the first placement */
    margin-top: 150px;
    font-weight: bolder;
    font-size: 40px;
    margin-left: 50px;
}

.place-two {
    /* this is another test */
    font-weight: bolder;
    font-size: 30px;
    font-size: 40px;
    margin-left: 50px;
    margin-top: -40px;
}

.place-three {
    /* this is for the second image positioning */
    position: absolute;
    right: 0;
    margin-top: -120px;
    margin-right: 30px;
    border-radius: 20px;
}

.place-four {
    /* this is the second image */
    zoom: 0.5;
    position: absolute;
    right: 0;
    margin-top: -30px;
    margin-right: 930px;
}

.place-five {
    /* this is for the five text */
    margin-left: 50px;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    margin-top: -20px;
}

.place-ten {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -20px;
}

.place-ten nav ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
    display: flex;
}

.place-ten li {
    /* this is for the first button list */
    font-size: 20px;
    color: black;
    margin: 0x;
    padding: 0px;
    display: inline;
}

.button-one {
    font-size: 15px;
    justify-content: start;
    border-radius: 20px;
    align-items: center;
    width: 190px;
    height: 45px;
}

.play-seven {
    zoom: 0.2;
}

.button-two {
    justify-content: start;
    border-radius: 20px;
    font-size: 15px;
    align-items: center;
    width: 180px;
    height: 45px;
}

.button-one:hover {
    font-size: 18px;
    color: blue;
    background-color: #FF000000;
}

.place-both {
    /* the first daddies pic */
    zoom: 0.5;
    margin-left: 30px;
    border-radius: 20px;
}

.place-second {
    zoom: 0.6;
    margin-left: 20px;
    border-radius: 20px;
}

.place-open {
    zoom: 0.2;
    margin-left: 30px;
    border-radius: 60px;
}

.place-close {
    zoom: 0.7;
    margin-left: 20px;
    border-radius: 20px;
}

.main-container h3 {
    margin-top: 250px;
    font-size: 30px;
    text-align: center;
}

h4 {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    font-weight: 200;
    margin-top: -5px;
}

.place-six {
    overflow: hidden;
    text-decoration: none;
    margin-left: -10px;
}

.place-six nav ul {
    /* this is for the third display of the UI */
    list-style: none;
    padding: 0;
    text-decoration: none;
    display: inline-block;
}

.place-six li {
    font-size: 20px;
    color: black;
    margin: -35px;
    padding: 25px;
    display: inline;
}

#image-slider {
    transition: transform 1s ease-in-out;
}

.one {
    zoom: 0.6;
    border-radius: 20px;
}

.two {
    zoom: 0.2;
    border-radius: 20px;
}

.three {
    zoom: 0.5;
}

.four {
    zoom: 0.6;
}

.place-seven {
    text-decoration: none;
    font-weight: bolder;
}

.place-seven nav ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: -20px;
    display: inline-block;
}

.place-seven li {
    font-size: 20px;
    color: black;
    padding: 90px;
    display: inline;
}

.place-twelve {
    /* this is for the welcome second text that will be remodified */
    margin-top: 150px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.place-thirteen {
    /* this is for the third welcome text that will be remodified */
    font-size: 25px;
    font-weight: bold;
    margin-top: -20px;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}

.place-test-one {
    /* this is another presentation */
    zoom: 0.3;
}

.file-one {
    /* this is  for another text */
    margin-top: 140px;
    text-align: start;
    font-weight: bold;
    font-size: 40px;
    margin-left: 50px;
}

.correct-quote nav ul {
    list-style: none;
    display: inline-block;
}

.correct-quote li {
    /* this is for another list */
    display: inline;
}

.place-fourteen {
    /* this is another text */
    font-size: 40px;
    text-align: start;
    font-weight: bold;
    margin-top: -40px;
    margin-left: 50px;
}

.correct-every {
    margin-left: -40px;
}

.correct-every nav ul {
    list-style: none;
    display: inline-block;
}

.correct-every li {
    display: inline;
    padding: -10px;
}

.parent-one {
    position: absolute;
    margin-top: -450px;
    margin-left: 930px;
    margin-right: 50px;
    right: 0;
    zoom: 0.6;
}

.parent-two {
    /* this is for the second picture that will be displayed */
    zoom: 0.8;
    position: absolute;
    margin-top: -380px;
    right: 0;
    margin-right: 40px;
}

.child-one {
    margin-left: 50px;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    margin-top: -20px;
}

.child-two {
    margin-left: 50px;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    margin-top: -20px;
}

.frame-topic {
    /* this is for the frame of the web page */
    left: 0;
    margin: 0;
    top: 2300px;
    width: 100%;
    position: absolute;
    background-color: brown;
    padding-top: 600px;
}

.file-two {
    margin-top: 1000px;
    text-align: start;
    font-weight: bold;
    font-size: 40px;
    margin-left: 50px;
}

.background {
    background-color: orange;
    position: absolute;
    padding-bottom: 600px;
    top: 3650px;
    width: 100%;
}

.try-one {
    /* this is for another text */
    font-size: 30px;
    text-align: center;
    margin-top: 1100px;
    font-style: italic;
    font-weight: bold;
}

.try-two {
    /* this is for the faith clinic image */
    zoom: 0.5;
    margin-left: 60px;
    border-radius: 20px;
}

.try-three {
    /* this is for the second image */
    zoom: 0.5;
    margin-left: 70px;
    border-radius: 20px;
}

.file-four {
    /* this is for the four sub-topic for welcoming */
    margin-top: 1100px;
    text-align: start;
    font-weight: bold;
    font-size: 40px;
    margin-left: 50px;
}

.play-two {
    position: absolute;
    margin-right: 20px;
    zoom: 0.5;
}

.parent-three {
    /* this is for the fifth */
    position: absolute;
    top: 5000px;
    padding-top: 600px;
    width: 100%;
    background-color: black;
}

.parent-four {
    /* this is for the sixth frame */
    position: absolute;
    top: 6200px;
    padding-top: 600px;
    width: 100%;
    background-color: brown;
}

.parent-six {
    /* this is the diaplay for the prophetic shout */
    zoom: 1.0;
    position: absolute;
    right: 0;
    margin-top: -250px;
    margin-right: 30px;
}

.footer-container {
    /* this is for the footer display */
    left: 0;
    margin: 0;
    top: 10000px;
    width: 100%;
    position: absolute;
    background-color: black;
    padding-top: 50px;
}